.container {
  padding: 1rem;
  color: var(--text-color);
}

.headerContainer h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}

.breadcrumbSeparator {
  color: var(--text-color-secondary);
}

.breadcrumbActive {
  color: var(--accent-color);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}