.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: block;
  position: absolute;
  background-color: var(--color-background-secondary);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  border-radius: var(--border-radius);
  padding: 0.5rem 0;
  border: 1px solid var(--color-border);
}

.menuItem {
  color: var(--text-color);
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: var(--btn-hover-bg-color);
  }
}
