.fileListContainer {
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);
}

.fileListTitle {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600; /* font-semibold */
  margin-bottom: 0.5rem; /* mb-2 */
}

.fileSectionTitle {
  font-size: 1rem; /* text-md */
  font-weight: 600; /* font-semibold */
  margin-bottom: 0.25rem; /* mb-1 */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.fileSectionTitle svg {
  transition: transform 0.2s ease-in-out;
}

.fileSectionTitle.expanded svg {
  transform: rotate(90deg);
}

.fileSectionList {
  font-size: 0.875rem; /* text-sm */
  padding-left: 1rem; /* pl-4 */
}

.fileListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: var(--btn-hover-bg-color);
  }
}

.itemTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.itemActions {
  flex-shrink: 0;
}

.moreButton {
  background: none;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.2s ease;

  &:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text-primary);
  }
}

.fileListItem:hover .moreButton {
  opacity: 1; /* Visible on hover */
}


.fileListItem:hover {
  background-color: var(--btn-hover-bg-color); /* Hover background color */
}

.loading, .error {
  font-size: 0.875rem; /* text-sm */
  color: var(--text-color-light); /* text-gray-500 or text-red-500 */
}

.error {
  color: var(--error-color); /* A specific error color */
}

.spaceY4 > *:not(:first-child) {
  margin-top: 1rem; /* space-y-4 equivalent */
}
