.fileListContainer {
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);
}

.fileListTitle {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600; /* font-semibold */
  margin-bottom: 0.5rem; /* mb-2 */
}

.fileSectionTitle {
  font-size: 1rem; /* text-md */
  font-weight: 600; /* font-semibold */
  margin-bottom: 0.25rem; /* mb-1 */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.fileSectionTitle svg {
  transition: transform 0.2s ease-in-out;
}

.fileSectionTitle.expanded svg {
  transform: rotate(90deg);
}

.fileSectionList {
  font-size: 0.875rem; /* text-sm */
  padding-left: 1rem; /* pl-4 */
}

.fileListItem {
  padding: 0.25rem 0.5rem; /* py-1 px-2 */
  border-radius: 0.25rem; /* rounded */
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none; /* Remove border */
  box-shadow: none; /* Remove box-shadow */
  margin-bottom: 0.25rem; /* Add some space between items */
}

.fileListItem:hover {
  background-color: var(--btn-hover-bg-color); /* Hover background color */
}

.fileListItem.more {
  color: var(--text-color-light); /* text-gray-500 */
}

.loading, .error {
  font-size: 0.875rem; /* text-sm */
  color: var(--text-color-light); /* text-gray-500 or text-red-500 */
}

.error {
  color: var(--error-color); /* A specific error color */
}

.spaceY4 > *:not(:first-child) {
  margin-top: 1rem; /* space-y-4 equivalent */
}
