.sidebar {
  width: 2.5rem; /* Reduced width */
  height: 100%;
  background-color: var(--bg-color-sidebar); /* Use CSS variable */
  padding: 0.5rem 0; /* Vertical padding only */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .iconButton {
    width: 100%; /* Full width of the sidebar */
    aspect-ratio: 1 / 1; /* Ensure a perfect square */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0; /* No border-radius for a full-width effect */
    transition: background-color 0.2s ease-in-out;
    color: var(--text-color); /* Ensure icon color adapts */
    background-color: transparent; /* Transparent by default */
    border: none; /* Remove border */
    box-shadow: none; /* Remove box-shadow */

    &:hover {
      background-color: var(--btn-hover-bg-color); /* Hover background color */
    }

    svg {
      width: 1.2rem; /* Reduced icon size */
      height: 1.2rem; /* Reduced icon size */
    }
  }

  .topIcons {
    display: flex;
    flex-direction: column;
    gap: 0.8rem; /* Slightly reduced gap */
    width: 100%;
  }

  .themeSwitcherButton {
    margin-bottom: 0.5rem; /* Added margin to the bottom */
  }

  .leftSemicircleLight {
    fill: var(--light-theme-bg);
  }

  .leftSemicircleDark {
    fill: var(--dark-theme-bg);
  }

  .rightSemicircleLight {
    fill: var(--dark-theme-bg);
  }

  .rightSemicircleDark {
    fill: var(--light-theme-bg);
  }
}
