.sidebar {
  width: 3.0rem; /* Make sidebar narrower */
  height: 100%;
  background-color: var(--color-background-secondary);
  padding: 0.5rem 0; /* Vertical padding only */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--color-border);
  justify-content: space-between; /* Pushes top and bottom icons apart */
}

.topIcons, .bottomIcons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.iconButton {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-left: 3px solid transparent; /* Placeholder for active state */
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--btn-hover-bg-color);
    color: var(--color-text-primary);
  }

  svg {
    width: 1.2rem; /* Adjust icon size */
    height: 1.2rem; /* Adjust icon size */
  }
}

.activeIcon {
  color: var(--color-primary);
  border-left-color: var(--color-primary);
}

.leftSemicircleLight {
  fill: var(--light-theme-bg);
}

.leftSemicircleDark {
  fill: var(--dark-theme-bg);
}

.rightSemicircleLight {
  fill: var(--dark-theme-bg);
}

.rightSemicircleDark {
  fill: var(--light-theme-bg);
}
