html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --bg-color: #ffffff;
  --text-color: #1a202c;
  --border-color: #e2e8f0;
}

body.dark {
  --bg-color: #1a202c;
  --text-color: #ffffff;
  --border-color: #4a5568;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
