html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --bg-color: #ffffff;
  --text-color: #1a202c;
  --border-color: #e2e8f0;
  --btn-bg-color: var(--bg-color-sidebar); /* Default button background matches sidebar */
  --btn-hover-bg-color: #e5e7eb; /* Darker hover for light theme */
  --text-color-light: #a0aec0;
  --error-color: #ef4444;
  --bg-color-sidebar: #f3f4f6;
  --light-theme-bg: #ffffff;
  --dark-theme-bg: #1a202c;
}

body.dark {
  --bg-color: #1a202c;
  --text-color: #ffffff;
  --border-color: #4a5568;
  --btn-bg-color: var(--bg-color-sidebar); /* Default button background matches sidebar */
  --btn-hover-bg-color: #2d3748; /* Hover background is previous default button background */
  --text-color-light: #a0aec0;
  --error-color: #ef4444;
  --bg-color-sidebar: #1f2937;
  --light-theme-bg: #ffffff;
  --dark-theme-bg: #1a202c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
